*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-image:url(web.jpg) ;
   height: 100vh;
   background-size: cover;
   opacity: 5;
}

h1{
    color: #333;
   text-align: center;
    padding-top: 60px;
    font-size: 60px;
    font-family: sans-serif;
}

.file{
    padding: 20px 100px;
}
 
.file ul li a{ 
    color: black;
    font-size: 30px;
    list-style:  none;
}

